#featureSection {
  padding: 5rem 0 0;
  .fetBoxWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .fetContentBox {
      h5 {
        font-size: 2rem;
        font-weight: 600;
        color: #007078;
      }
      p {
        font-size: 1.4rem;
        font-weight: 400;
        color: #656565;
      }
    }
  }
}
