.navbar {
  width: 100%;
}

.custNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.custNav .navLeftBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .custNav .col-md-3 {
    width: 33.333%;
  }
}
@media (max-width: 834px) {
  .custNav .col-md-3 {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .custNav .col-md-3 {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .custNav .col-md-5 {
    display: none;
  }
}
.custNav .navbar-collapse .navbar-nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .custNav .navbar-collapse .navbar-nav {
    width: 57%;
    margin: 0 0 0 auto;
  }
}
.custNav .navbar-collapse .navbar-nav .nav-item.cartMenu::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 4%;
  width: 0.2rem;
  height: 55%;
  background: #cbcbcb;
}
@media (max-width: 1024px) {
  .custNav .navbar-collapse .navbar-nav .nav-item.cartMenu::after {
    right: 5.2%;
  }
}
.custNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #919191;
  position: relative;
  padding: 0;
}
@media (max-width: 1024px) {
  .custNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.4rem;
  }
}
.custNav .navbar-collapse .navbar-nav .nav-item .nav-link .cartBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: #007078;
  border-radius: 5rem;
  position: relative;
}
.custNav .navbar-collapse .navbar-nav .nav-item .nav-link .dotSpan {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 5rem;
  background: #27ed8e;
}

.allProductsDisplayBox {
  background-color: #F8F8F8;
  position: absolute;
  width: 90.5%;
  height: 53.9rem;
  transform: translateX(-50%);
  z-index: 3;
  border-radius: 0.3rem;
  overflow: hidden;
}
.allProductsDisplayBox .tabsWrap {
  display: flex;
  justify-content: space-between;
}
.allProductsDisplayBox .tabsWrap .nav-pills {
  flex-direction: column;
  width: 20%;
  height: 100%;
  max-height: 53.9rem;
  overflow-y: auto;
  border-right: 0.1rem solid #8d8d8d;
}
.allProductsDisplayBox .tabsWrap .nav-pills::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.allProductsDisplayBox .tabsWrap .nav-pills::-webkit-scrollbar-thumb {
  background: #007078;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.allProductsDisplayBox .tabsWrap .nav-pills::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #e3a835, #e3a835 1px, #e3a835 0, #e3a835);
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.allProductsDisplayBox .tabsWrap .nav-pills::-webkit-scrollbar-corner {
  background: #e3a835;
}
.allProductsDisplayBox .tabsWrap .tab-content {
  width: 80%;
  height: 100%;
  padding: 2rem;
  max-height: 53.9rem;
  overflow-y: auto;
}
.allProductsDisplayBox .tabsWrap .tab-content::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.allProductsDisplayBox .tabsWrap .tab-content::-webkit-scrollbar-thumb {
  background: #007078;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.allProductsDisplayBox .tabsWrap .tab-content::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #e3a835, #e3a835 1px, #e3a835 0, #e3a835);
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.allProductsDisplayBox .tabsWrap .tab-content::-webkit-scrollbar-corner {
  background: #e3a835;
}
.allProductsDisplayBox.show {
  left: 50%;
  transition: left 0.4s ease;
}
.allProductsDisplayBox.hide {
  left: -50%;
  transition: left 0.4s ease;
}/*# sourceMappingURL=navbar.css.map */