@import "../../../assets/scss/media";
.custNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  .navLeftBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .col-md-5{
    @include d-desktop{
      width: 33.333%;
    }
  }
  .actionBtn{
    @include d-desktop{
      display: none;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .nav-item {
        &.cartMenu {
          &::after {
            content: "";
            position: absolute;
            top: 25%;
            right: 4%;
            width: 0.2rem;
            height: 55%;
            background: #cbcbcb;
            @include d-desktop{
              right: 5.2%;
            }
          }
        }
        .nav-link {
          font-size: 1.6rem;
          font-weight: 500;
          color: #919191;
          position: relative;
          padding: 0;
          @include d-desktop{
            font-size: 1.4rem;
          }
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: #007078;
            border-radius: 5rem;
            position: relative;

            &.cartBox {
              &::after {
                content: "";
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 1rem;
                height: 1rem;
                border-radius: 5rem;
                background: #27ed8e;
              }
            }
          }
        }
      }
    }
  }
}

.allProductsDisplayBox {
  background-color: red;
  position: absolute;
  width: 95%;
  height: 55rem;
  transform: translateX(-50%);
  z-index: 1;
  &.show {
    left: 50%;
    transition: left 0.4s ease;
  }
  &.hide {
    left: -50%;
    transition: left 0.4s ease;
  }
}
